* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    background-image:  linear-gradient(30deg, #FE8D0D 12%, transparent 12.5%, transparent 87%, #FE8D0D 87.5%, #FE8D0D), linear-gradient(150deg, #FE8D0D 12%, transparent 12.5%, transparent 87%, #FE8D0D 87.5%, #FE8D0D), linear-gradient(30deg, #FE8D0D 12%, transparent 12.5%, transparent 87%, #FE8D0D 87.5%, #FE8D0D), linear-gradient(150deg, #FE8D0D 12%, transparent 12.5%, transparent 87%, #FE8D0D 87.5%, #FE8D0D), linear-gradient(60deg, #FE8D0D77 25%, transparent 25.5%, transparent 75%, #FE8D0D77 75%, #FE8D0D77), linear-gradient(60deg, #FE8D0D77 25%, transparent 25.5%, transparent 75%, #FE8D0D77 75%, #FE8D0D77);
}

aside {
    padding: 0px;
}